*.log
.env
.env.*
build-docker-images/artifact_urls.yaml
build-docker-images/artifacts_env.txt
single-node/wazuh-certificates
single-node/wazuh-certificates/*
single-node/wazuh-certificates-tool.log
single-node/wazuh-certs-tool*.sh
single-node/.env
single-node/.env.*
single-node/compose.*.yml
single-node/config-local/
single-node/config*.yml
single-node/config

# Documentation
docs/book/

wazuh-5.0.0-beta2/
wazuh-docker-5.0.0-beta2/
