[server]
server_audit_logging=ON

[mariadb]
plugin_load_add=server_audit

[mysqld]
server_audit_output_type=SYSLOG
server_audit_events=connect,query,table,query_ddl,query_dml
server_audit_syslog_info=mariadb
server_audit_syslog_ident=mariadb-server_auditing